<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ALTIMA_ERP_2022_REMOTO"
			 connectionString="Server=altima.dnsalias.com; DataBase=Altima_ERP_Developer; User ID=sa; Password=16x3270.;" />

		<add name="ALTIMA_ERP_2022_LOCAL"
			connectionString="Server=192.168.0.241\ALTIMA_DEVELOPER; DataBase=Altima_ERP_Developer; User ID=sa; Password=16x3270.;" />
	</connectionStrings>
	<appSettings>
		<add key="host1" value="ftp.uniformes-altima.com.mx"/>
		<add key="host" value="ftp://uniformes-altima.com.mx/imagenes/"/>
		<add key="username" value="arp@uniformes-altima.com.mx"/>
		<add key="password" value="A16x3270."/>
		<add key="puerto" value="21"/>
		<add key="ruta" value="uniformes-altima.com.mx/imagenes/"/>
		<add key="ruta_temp" value="C:\Reportes\"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>